body {
  font-family: serif;
  padding: 10px;
}

header {
  text-align: center;
}

#header-img {
  width: 100%;
  height: 209px;
  background:   url("");
  background-size: cover;
}

#nav-bar {
  text-align: right;
}

main {
  text-align: center;
}